<div class="sidebar">
  <!-- Logo Ecozy -->
  <img class="logo" alt="Ecozy Logo" src="image.png" />

  <!-- Photo de profil et nom de l'utilisateur -->
  <div class="user-info">
    <img
      class="profile-picture"
      alt="User profile picture"
      src="https://storage.googleapis.com/a1aa/image/G-j-twPapM6UGl5xgiQKA1FmyiyKuQYaeAiRkcro-v8.jpg"
    />
    <p class="username">Nom de l'utilisateur</p>
    <!-- Remplacez par une variable dynamique plus tard -->
  </div>

  <!-- Menu -->
  <div class="menu">
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-home"></i> Dashboard
    </a>
    <a routerLink="/users" routerLinkActive="active">
      <i class="fas fa-user"></i> Utilisateurs
    </a>
    <a routerLink="/plantes" routerLinkActive="active">
      <i class="fas fa-seedling"></i> Plantes
    </a>
    <a routerLink="/historique" routerLinkActive="active">
      <i class="fas fa-history"></i> Historiques
    </a>
  </div>

  <!-- Bouton de déconnexion -->
  <a class="logout" href="#">
    <i class="fas fa-sign-out-alt"></i>
    DECONNEXION
  </a>
</div>
