.gauge-container {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  flex: 1 1 30%;
  min-width: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

@media (max-width: 768px) {
  .gauge-container {
    flex: 1 1 100%;
    min-width: auto;
  }
}
